= form_for [@question.content, @question] do |f|
  -if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label 'answer', 'Add answers and select the correct one'
  - ['A', 'B', 'C', 'D'].each_with_index do |letter, index|
    .field
      = f.radio_button 'correct_answer', index
      = "#{letter}."
      = text_field_tag 'question[answers][]', @question.answers[index]
  .field
    = f.hidden_field :content_id
  .actions
    = f.submit 'Save'
