= form_for [@question.content, @question] do |f|
  -if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label 'answer', 'Add answers and select the correct one'
  .field
    = f.radio_button 'correct_answer', '0'
    A.
    = text_field_tag 'question[answers][]', @question.answers[0]
  .field
    = f.radio_button 'correct_answer', '1'
    B.
    = text_field_tag 'question[answers][]', @question.answers[1]
  .field
    = f.radio_button 'correct_answer', '2'
    C.
    = text_field_tag 'question[answers][]', @question.answers[2]
  .field
    = f.radio_button 'correct_answer', '3'
    D.
    = text_field_tag 'question[answers][]', @question.answers[3]
  .field
    = f.hidden_field :content_id
  .actions
    = f.submit 'Save'
