= link_to 'Select content', '#', :id => 'show_popup', :class => 'btn'
#content_selection_box
  = link_to(image_tag('close.jpg', :alt => 'close', :id => 'close_popup', :class => 'x_button close_popup'), '#')
  #selected_content
    = image_tag @selected.photo.url, {:id => 'selected_image', :class => 'content_image'}
    %br
    %br
    .content_info
      %strong Name:
      %span#content_name= @selected.name
      %br
      %strong Credit:
      %span= link_to @selected.source_name, @selected.source_link, :id => 'content_credit'
      %br
      %strong Language:
      %span#content_language= @selected.language.name
      %br
      %br
      %br
    = link_to 'Select this story!', '#', :class => 'close_popup btn btn-primary'
    %br
    %br
    %br
    %div
      Or browse other stories: 
  #select_content
    = select_tag "Language", options_from_collection_for_select(@languages, "id", "name"), :id => 'language_select'
    = select_tag "Category", options_from_collection_for_select(@categories, "id", "name"), :id => 'category_select'
    #select_content_inner
      #prev_link
        = link_to 'prev', '#', :id => 'ui-carousel-prev'
      #next_link
        = link_to 'next', '#', :id => 'ui-carousel-next'
      #carousel

:javascript

  $(function() {
    content_selector = new ContentSelector({
      popup_container: $("#content_selection_box"),
      grayout: $("#grayout"),
      show_popup_button: $("#show_popup"),
      close_popup_button: $(".close_popup"),
      carousel_container: $("#carousel"),
      selected_content_container: $("#selected_content"),
      language_select: $("#language_select"),
      category_select: $("#category_select"),
      current_test: #{@js_test} //for setting text
    });
  });
