= form_for(@content, :html => {:multipart => true, :class => 'form-horizontal' }) do |f|
  - if @content.errors.any?
    #error_explanation
      %h2
        = pluralize(@content.errors.count, "error")
        prohibited this content from being saved:
      %ul
        - @content.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :body, :class => 'control-label'
    .controls
      = f.text_area :body, :class => 'text_area'
  .control-group
    = f.label :language, :class => 'control-label'
    .controls
      = f.select :language_id, Language.all.collect {|lang| [lang.name, lang.id]}, :class => 'select'
  .control-group
    = f.label :categories, :class => 'control-label'
    .controls
      - Category.order('name asc').all.each do |category|
        = check_box_tag 'content[category_ids][]', category.id, @content.category_ids.include?(category.id)
        = category.name
  .control-group
    = f.label :source_name, :class => 'control-label'
    .controls
      = f.text_field :source_name, :class => 'text_field'
  .control-group
    = f.label :source_link, :class => 'control-label'
    .controls
      = f.text_field :source_link, :class => 'text_field'
  .control-group
    = f.label :photo, :class => 'control-label'
    .controls
      = f.file_field :photo, :class => 'file_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contents_path, :class => 'btn'
