<p>
  <b>Body:</b>
  <%= @content.body %>
</p>

<p>
  <b>Source name:</b>
  <%= @content.source_name %>
</p>

<p>
  <b>Source link:</b>
  <%= @content.source_link %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
