%p
  %b Body:
  %span#content_body= @content.body
%p
  %b Source name:
  = @content.source_name
%p
  %b Source link:
  = @content.source_link
= link_to 'Edit', edit_content_path(@content)
|
\#{link_to 'Back', contents_path}

= render 'questions'

:javascript

  $(function() {
    var formatter = new TextFormatter({
      container: $("#content_body")
    });
    formatter.shorten();
  });
