- @languages = Language.all
- @categories = Category.all
- @contents = Content.sorted_by_name
- @selected = @contents.first
#content_selection_box
  #selected_content
    = image_tag @selected.photo.url, {:id => 'selected_image', :class => 'content_image'}
    .title
      = @selected.name
    = link_to 'Select this story!', '#', :class => 'button'
    %div
      Or browse other stories: 
  #select_content
    Language:
    = select_tag "Language", options_from_collection_for_select(@languages, "id", "name"), :id => 'language_select'
    Category:
    = select_tag "Category", options_from_collection_for_select(@categories, "id", "name"), :id => 'category_select'
    #select_content_inner
      #prev_link
        = link_to 'prev', '#', :id => 'ui-carousel-prev'
      #next_link
        = link_to 'next', '#', :id => 'ui-carousel-next'
      #carousel
        - @contents.each do |content|
          .image_container
            = link_to(image_tag(content.photo.url, { :class => 'content_image', :width => 70, :height => 100}), '#')
            .title
              = content.name
#speed_slider
#speed_container
  Speed:
  %span#speed_value
    1

#number_of_words_slider
#number_of_words_container
  Number of words:
  %span#number_of_words_value
    2

%button#start_exercise Start
#flash_reading_container
  Ready?

#chart_container

:javascript
  var content_selector;
  var FlashReadingTest = new Object({

    // get the words
    words: #{@flash_reading_test.content.body.split(' ').reverse.to_json},

    // get words that need to be displayed
    fetch_next_chunk: function() {
      var chunk = [];
      for(var i = 0; i < FlashReadingTest.get_number_of_words(); i++) {
        chunk.push(FlashReadingTest.words.pop());
      }
      return chunk[0] == undefined ? undefined : chunk.join(' ');
    },

    show_chart: function() {
      $('#chart_container').load('/flash_reading_tests/chart');
    },

    // display words
    iterate: function() {
      var next_chunk = FlashReadingTest.fetch_next_chunk();
      if (next_chunk == undefined) {
        $('#flash_reading_container').html('Your reading speed is ' + FlashReadingTest.get_wpm() + ' wpm!');
        FlashReadingTest.running = false;
        FlashReadingTest.words = #{@flash_reading_test.content.body.split(' ').reverse.to_json};
        FlashReadingTest.save(FlashReadingTest.show_chart);
        return;
      }
      $('#flash_reading_container').html(next_chunk);
      setTimeout('FlashReadingTest.iterate()', FlashReadingTest.get_delay());
    }

  });

  $(function() {

    // instantiate the speed slider
    $("#speed_slider").slider({
      min: 1,
      max: 100,
      value: 1,
      slide: function(event, ui) {
        $("#speed_value").html(ui.value);
      }
    });

    FlashReadingTest.speed_slider = $("#speed_slider");

    // instantiate the number of words slider
    $("#number_of_words_slider").slider({
      min: 1,
      max: 5,
      value: 2,
      slide: function(event, ui) {
        $("#number_of_words_value").html(ui.value);
      }
    });

    FlashReadingTest.number_of_words_slider = $("#number_of_words_slider");

    // events for <- and ->
    $(document).keydown(function(e){
      var speed_slider = FlashReadingTest.speed_slider;
      var number_of_words_slider = FlashReadingTest.number_of_words_slider;

      if (e.keyCode == $.ui.keyCode.LEFT) { 
        // decrease the speed value
        var old_value = speed_slider.slider("value");
        speed_slider.slider("value", old_value - 1); 

        // show the speed
        $("#speed_value").html(speed_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.RIGHT) {
        // increase the speed value
        var old_value = speed_slider.slider("value");
        speed_slider.slider("value", old_value + 1); 

        // show the speed
        $("#speed_value").html(speed_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.UP) { 
        // increase the speed value
        var old_value = number_of_words_slider.slider("value");
        number_of_words_slider.slider("value", old_value + 1); 

        // show the speed
        $("#number_of_words_value").html(number_of_words_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.DOWN) {
        // decrease the number of words
        var old_value = number_of_words_slider.slider("value");
        number_of_words_slider.slider("value", old_value - 1); 

        // show the speed
        $("#number_of_words_value").html(number_of_words_slider.slider("value"));
      }
      // prevent the scroll
      return false;
    });

    // handler for clicking on start button
    $('#start_exercise').click(function() {
      if (FlashReadingTest.running) return;
      FlashReadingTest.running = true;
      FlashReadingTest.iterate();
    });

    FlashReadingTest.get_number_of_words = function() {
      return parseInt($("#number_of_words_value").html());
    }

    FlashReadingTest.attributes = function() {
      return {
        word_throughput: FlashReadingTest.get_number_of_words(),
        reading_speed: FlashReadingTest.get_speed(),
        content_id: #{@flash_reading_test.content_id}
      }
    }

    FlashReadingTest.save = function(callback) {
      $.post('/flash_reading_tests', {flash_reading_test: FlashReadingTest.attributes()}, function(data) {
        if(callback) callback();
      });
    }

    FlashReadingTest.get_speed = function() {
      return parseInt($("#speed_value").html());
    }

    // calculate delay based on speed
    FlashReadingTest.get_delay = function() {
      // (1..100)
      var speed = FlashReadingTest.get_speed();

      // (300..92.1) [ms]
      return 3 * ((101 - speed) * 0.7 + 30);
    }

    FlashReadingTest.get_wpm = function() {
      var delay = FlashReadingTest.get_delay();
      var word_throughput = FlashReadingTest.get_number_of_words();

      return Math.round(60000 / delay * word_throughput);
    }

    $("#carousel").rcarousel({
      visible: 3,
      width: 200,
      height: 300
    });

    content_selector = new ContentSelector({
      carousel_container: $("#carousel"),
      selected_content_container: $("#selected_content"),
      language_select: $("#language_select"),
      category_select: $("#category_select")
    })
  });
