- @languages = Language.all
- @categories = Category.all
- @selected = Content.first
- @js_test = 'FlashReadingTest'

= render '/contents/content_selection_popup'

#speed_slider
#speed_container
  Speed:
  %span#speed_value
    1

#number_of_words_slider
#number_of_words_container
  Number of words:
  %span#number_of_words_value
    2

%button#start_exercise Start
= high_chart("flash_reading_chart", @flash_reading_chart)

:javascript
  var FlashReadingTest = new Object({

    text: #{@flash_reading_test.content.body.to_json},

    // get the words
    get_words: function() { return this.text.split(/\s/); },

    // get words that need to be displayed
    fetch_next_chunk: function() {
      this.remaining_words = this.remaining_words || this.get_words();
      var chunk = this.remaining_words.splice(0, this.get_number_of_words());
      return chunk[0] == undefined ? undefined : chunk.join(' ');
    },

  });

  $(function() {

    FlashReadingTest.container = $(".test_container");
    FlashReadingTest.messages = ['Ready?']; // to be displayed

    FlashReadingTest.start = function() {
      $('#flash_reading_container').remove();
      $('#chart_container').remove();

      FlashReadingTest.remaining_words = undefined;

      FlashReadingTest.container.show();
      $("#grayout").css("visibility", "visible");

      // display all messages
      var timeout = 0;
      for(var i = 0; i < FlashReadingTest.messages.length; i++) {
        setTimeout(FlashReadingTest.show_message, timeout);
        timeout += 1000;
      }

      // destroy the message container
      setTimeout(FlashReadingTest.remove_message_container, timeout);

      // start countdown right after the message container has been removed
      timeout += 10;
      Countdown.callback = FlashReadingTest.start_flashing;
      setTimeout(Countdown.start, timeout);
    }

    FlashReadingTest.start_flashing = function() {
      if (!$('#flash_reading_container')[0]) {
        var div = $('<div id="flash_reading_container"></div>');
        FlashReadingTest.container.append(div);
      }
      $('#flash_reading_container').css('margin-top', '250px');

      FlashReadingTest.iterate();
    }

    FlashReadingTest.show_message = function() {
      var div = $("#reading_speed_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="reading_speed_notice_container" class="message_notice_container"></div>');
        FlashReadingTest.container.prepend(div);
      }
      var message = FlashReadingTest.messages.shift();
      div.html(message);
    }

    FlashReadingTest.remove_message_container = function() {
      var div = $("#reading_speed_notice_container");
      if (div) div.remove();
    }

    // display words
    FlashReadingTest.iterate = function() {
      var next_chunk = FlashReadingTest.fetch_next_chunk();
      if (next_chunk == undefined) {
        clearTimeout(FlashReadingTest.iteratingTimeout);
        $('#flash_reading_container').css('margin-top', '100px');
        $('#flash_reading_container').html('Your reading speed is ' + FlashReadingTest.get_wpm() + ' wpm!');
        //FlashReadingTest.words = #{@flash_reading_test.content.body.split(' ').reverse.to_json};
        if (!$('#chart_container')[0]) $('#flash_reading_container').append($('<div id="chart_container"></div>'));
        FlashReadingTest.save(FlashReadingTest.show_chart);
        return;
      }
      $('#flash_reading_container').html(next_chunk);
      FlashReadingTest.iteratingTimeout = setTimeout('FlashReadingTest.iterate()', FlashReadingTest.get_delay());
    }


    // instantiate the speed slider
    $("#speed_slider").slider({
      min: 1,
      max: 100,
      value: 1,
      slide: function(event, ui) {
        $("#speed_value").html(ui.value);
      }
    });

    FlashReadingTest.show_chart = function() {
      $('#chart_container').load('/flash_reading_tests/chart');
    }

    FlashReadingTest.speed_slider = $("#speed_slider");

    // instantiate the number of words slider
    $("#number_of_words_slider").slider({
      min: 1,
      max: 5,
      value: 2,
      slide: function(event, ui) {
        $("#number_of_words_value").html(ui.value);
      }
    });

    FlashReadingTest.number_of_words_slider = $("#number_of_words_slider");

    // events for <- and ->
    $(document).keydown(function(e){
      var speed_slider = FlashReadingTest.speed_slider;
      var number_of_words_slider = FlashReadingTest.number_of_words_slider;

      if (e.keyCode == $.ui.keyCode.LEFT) { 
        // decrease the speed value
        var old_value = speed_slider.slider("value");
        speed_slider.slider("value", old_value - 1); 

        // show the speed
        $("#speed_value").html(speed_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.RIGHT) {
        // increase the speed value
        var old_value = speed_slider.slider("value");
        speed_slider.slider("value", old_value + 1); 

        // show the speed
        $("#speed_value").html(speed_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.UP) { 
        // increase the speed value
        var old_value = number_of_words_slider.slider("value");
        number_of_words_slider.slider("value", old_value + 1); 

        // show the speed
        $("#number_of_words_value").html(number_of_words_slider.slider("value"));
      } else if (e.keyCode == $.ui.keyCode.DOWN) {
        // decrease the number of words
        var old_value = number_of_words_slider.slider("value");
        number_of_words_slider.slider("value", old_value - 1); 

        // show the speed
        $("#number_of_words_value").html(number_of_words_slider.slider("value"));
      }
      // prevent the scroll
      return false;
    });

    // handler for clicking on start button
    $('#start_exercise').click(function() {
      FlashReadingTest.start();
    });

    FlashReadingTest.get_number_of_words = function() {
      return parseInt($("#number_of_words_value").html());
    }

    FlashReadingTest.attributes = function() {
      return {
        word_throughput: FlashReadingTest.get_number_of_words(),
        reading_speed: FlashReadingTest.get_speed(),
        content_id: #{@flash_reading_test.content_id}
      }
    }

    FlashReadingTest.save = function(callback) {
      $.post('/flash_reading_tests', {flash_reading_test: FlashReadingTest.attributes()}, function(data) {
        if(callback) callback();
      });
    }

    FlashReadingTest.get_speed = function() {
      return parseInt($("#speed_value").html());
    }

    // calculate delay based on speed
    FlashReadingTest.get_delay = function() {
      // (1..100)
      var speed = FlashReadingTest.get_speed();

      // (300..92.1) [ms]
      return 3 * ((101 - speed) * 0.7 + 30);
    }

    FlashReadingTest.get_wpm = function() {
      var delay = FlashReadingTest.get_delay();
      var word_throughput = FlashReadingTest.get_number_of_words();

      return Math.round(60000 / delay * word_throughput);
    }

    $("#close_test").click(function() {
      clearTimeout(FlashReadingTest.iteratingTimeout);
      $("#grayout").css("visibility", "hidden");
      FlashReadingTest.container.hide();
    });
  });
