%button#start_exercise Start
#flashing_numbers_container
  = form_for(@flashing_numbers_test) do |f|
    = f.hidden_field :user_id
    #flashing_numbers
      #flashing_numbers_left
        = f.text_field :left_number
        %span#left_number_shown
          &nbsp; 
      #flashing_numbers_center
        x 
      #flashing_numbers_right
        %span#right_number_shown
          &nbsp; 
        = f.text_field :right_number
    = f.submit 'Submit', :id => 'submit_numbers'

:javascript
  $(function() {
    window.number_of_digits = 1;

    window.left_outer_container = $('#flashing_numbers_left');
    window.right_outer_container = $('#flashing_numbers_right');
    window.inner_container = $('#flashing_numbers_center');

    window.initial_outer_width = parseInt(window.left_outer_container.css('width'));
    window.initial_inner_width = parseInt(window.inner_container.css('width'));
  });

  $('#submit_numbers').click(function() {
    var is_correct = $('#flashing_numbers_test_left_number').val() == window.left && $('#flashing_numbers_test_right_number').val() == window.right;

    var outer_width = parseInt(window.left_outer_container.css('width'));
    var inner_width = parseInt(window.inner_container.css('width'));

    var message = '';

    if (is_correct && outer_width < 100) {
      var new_outer_width = window.initial_outer_width;
      var new_inner_width = window.initial_inner_width;
      message = "Good job! Let's increase the digits";
      window.number_of_digits = window.number_of_digits + 1;
    } else if (is_correct) {
      var new_outer_width = outer_width - 30;
      var new_inner_width = inner_width + 60;
      message = "Good job! Let's increase the distance!";
    } else if (inner_width >= 60 + window.initial_inner_width) {
      var new_outer_width = outer_width + 30;
      var new_inner_width = inner_width - 60;
      message = 'Try again';
    }

    window.left_outer_container.css('width', new_outer_width);
    window.right_outer_container.css('width', new_outer_width);
    window.inner_container.css('width', new_inner_width);

    hide_fields();
    alert(message);

    run_exercise();
    return false; // don't submit the form
  });

  $('#start_exercise').click(function() {
    run_exercise();
  });

  function run_exercise() {
    hide_fields();
    set_counter(3);
    setTimeout("set_counter(2)", 1000);
    setTimeout("set_counter(1)", 2000);
    setTimeout("set_counter('x')", 3000);
    setTimeout("show_numbers()", 3000);
    setTimeout("hide_numbers()", 3100);
    setTimeout("show_fields()", 3100);
  }

  function set_counter(number) {
    $('#flashing_numbers_center').html(number);
  }

  function show_numbers() {
    window.left = random_number_with_digits(window.number_of_digits);
    window.right = random_number_with_digits(window.number_of_digits);
    $('#left_number_shown').html(window.left);
    $('#right_number_shown').html(window.right);
  }

  function hide_numbers() {
    $('#left_number_shown').html('&nbsp;');
    $('#right_number_shown').html('&nbsp;');
  }

  function show_fields() {
    $('#flashing_numbers_test_left_number').val('');
    $('#flashing_numbers_test_right_number').val('');
    $('#flashing_numbers_test_left_number').show();
    $('#flashing_numbers_test_right_number').show();
    $('#submit_numbers').show();
    $('#flashing_numbers_test_left_number').focus();
  }

  function hide_fields() {
    $('#flashing_numbers_test_left_number').hide();
    $('#flashing_numbers_test_right_number').hide();
    $('#submit_numbers').hide();
  }
