- @languages = Language.all
- @categories = Category.all
- @selected = Content.first
- @js_test = 'ReadingSpeedTest'

.exercise_description
  = render '/contents/content_selection_popup'
  This test will measure your reading speed. Click the start button when you are ready and the text will appear below. Click on done when you are finished reading.
  %button#start_reading Start
  %div
  = form_for(@reading_speed_test) do |f|
    = f.hidden_field :content_id
    = f.hidden_field :user_id
    = f.hidden_field :wpm

:javascript

  var ReadingSpeedTest = new Object({
    text: #{@reading_speed_test.content.body.to_json},
    content_id: #{@reading_speed_test.content.id}
  });

  $(function() {

    ReadingSpeedTest.container = $(".test_container");
    ReadingSpeedTest.messages = ['Ready?']; // to be displayed

    $('#start_reading').click(function() {
      ReadingSpeedTest.start();
    });

    $("#close_test").click(function() {
      $("#grayout").css("visibility", "hidden");
      $(".test_container").hide();
    });

    ReadingSpeedTest.start = function() {
      $("#reading_text_container").html('');
      ReadingSpeedTest.container.show();
      $("#grayout").css("visibility", "visible");

      // display all messages
      var timeout = 0;
      for(var i = 0; i < ReadingSpeedTest.messages.length; i++) {
        setTimeout(ReadingSpeedTest.show_message, timeout);
        timeout += 1000;
      }

      // destroy the message container
      setTimeout(ReadingSpeedTest.remove_message_container, timeout);

      // start countdown right after the message container has been removed
      timeout += 10;
      Countdown.callback = ReadingSpeedTest.set_start_time_and_show_text;
      setTimeout(Countdown.start, timeout);
    }

    ReadingSpeedTest.set_start_time_and_show_text = function() {
      ReadingSpeedTest.show_text();
      ReadingSpeedTest.start_time = new Date();
    }

    ReadingSpeedTest.show_text = function() {
      var text_container = $('#reading_text')
      text_container.show();

      var div;
      if($("#reading_text_container")[0]) {
        div = $("#reading_text_container")
      } else {
        div = $('<div id="reading_text_container"></div>');
        ReadingSpeedTest.container.append(div);
      }
      div.html('<div id="scrollbar1"><div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div><div class="viewport"><div class="overview"><div id="reading_text">' + ReadingSpeedTest.text + '</div></div></div></div>' + '<br /><a href="#" class="button" id="finished_reading">Done</a>');

      $('#scrollbar1').tinyscrollbar();

      $('#finished_reading').click(function() {
        var end_time = new Date();
        var word_count = count_words($('#reading_text').text());
        var elapsed_time_in_seconds = (end_time - ReadingSpeedTest.start_time) / 1000;
        var reading_speed = Math.round(word_count * 60 / elapsed_time_in_seconds);
        $('#reading_speed_test_wpm').val(reading_speed);
        $('#reading_speed_test_content_id').val(ReadingSpeedTest.content_id);
        $('#new_reading_speed_test').submit();
      });
    }

    ReadingSpeedTest.show_message = function() {
      var div = $("#reading_speed_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="reading_speed_notice_container" class="message_notice_container"></div>');
        ReadingSpeedTest.container.prepend(div);
      }
      var message = ReadingSpeedTest.messages.shift();
      div.html(message);
    }

    ReadingSpeedTest.remove_message_container = function() {
      var div = $("#reading_speed_notice_container");
      if (div) div.remove();
    }

  });
