.page-header
  %h1 Synonyms/Antonyms

%button.btn.btn-primary#start_test Start
= form_for(@synonyms_and_antonyms_test) do |f|
  = f.hidden_field :speed
  = f.hidden_field :accuracy

= high_chart("synonyms_and_antonyms_chart", @synonyms_and_antonyms_chart)

:javascript

  var SynonymsAndAntonymsTest = new Object({
    word_pairs: #{@synonyms_and_antonyms_test.word_pairs.to_json}
  });

  $(function() {

    SynonymsAndAntonymsTest.container = $(".test_container");
    SynonymsAndAntonymsTest.messages = ['<div style="padding-top: 50px">Ready?</div>']; // to be displayed

    $('#start_test').click(function() {
      SynonymsAndAntonymsTest.start();
    });

    $("#close_test").click(function() {
      $("#grayout").css("visibility", "hidden");
      $(".test_container").hide();
    });

    SynonymsAndAntonymsTest.start = function() {
      SynonymsAndAntonymsTest.container.show();
      $("#grayout").css("visibility", "visible");

      SynonymsAndAntonymsTest.total = 0;
      SynonymsAndAntonymsTest.correct = 0;

      // display all messages
      var timeout = 0;
      for(var i = 0; i < SynonymsAndAntonymsTest.messages.length; i++) {
        setTimeout(SynonymsAndAntonymsTest.show_message, timeout);
        timeout += 1000;
      }

      // destroy the message container
      setTimeout(SynonymsAndAntonymsTest.remove_message_container, timeout);

      // start countdown right after the message container has been removed
      timeout += 10;
      Countdown.callback = SynonymsAndAntonymsTest.set_start_time_and_iterate;
      setTimeout(Countdown.start, timeout);
    }

    SynonymsAndAntonymsTest.set_start_time_and_iterate = function() {
      SynonymsAndAntonymsTest.start_time = new Date();
      SynonymsAndAntonymsTest.iterate();
    }

    SynonymsAndAntonymsTest.iterate = function() {
      SynonymsAndAntonymsTest.show_words();
    }

    SynonymsAndAntonymsTest.show_message = function() {
      var div = $("#synonyms_and_antonyms_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="synonyms_and_antonyms_notice_container" class="message_notice_container"></div>');
        SynonymsAndAntonymsTest.container.prepend(div);
      }
      var message = SynonymsAndAntonymsTest.messages.shift();
      div.html(message);
    }

    SynonymsAndAntonymsTest.remove_message_container = function() {
      var div = $("#synonyms_and_antonyms_notice_container");
      if (div) div.remove();
    }

    SynonymsAndAntonymsTest.submit_synonym = function() {
      if(!SynonymsAndAntonymsTest.current_word_pair) return;
      if (SynonymsAndAntonymsTest.last_answered == SynonymsAndAntonymsTest.current_word_pair) return;
      SynonymsAndAntonymsTest.total += 1;

      if (SynonymsAndAntonymsTest.current_word_pair.synonyms) {
        SynonymsAndAntonymsTest.correct += 1;
      } else {
        // no good
      }
      SynonymsAndAntonymsTest.last_answered = SynonymsAndAntonymsTest.current_word_pair;
      SynonymsAndAntonymsTest.iterate();
    }

    SynonymsAndAntonymsTest.submit_antonym = function() {
      if(!SynonymsAndAntonymsTest.current_word_pair) return;
      if (SynonymsAndAntonymsTest.last_answered == SynonymsAndAntonymsTest.current_word_pair) return;
      SynonymsAndAntonymsTest.total += 1;

      if (!SynonymsAndAntonymsTest.current_word_pair.synonyms) {
        SynonymsAndAntonymsTest.correct += 1;
      } else {
        // no good
      }
      SynonymsAndAntonymsTest.last_answered = SynonymsAndAntonymsTest.current_word_pair;
      SynonymsAndAntonymsTest.iterate();
    }

    SynonymsAndAntonymsTest.show_words = function() {
      SynonymsAndAntonymsTest.current_word_pair = SynonymsAndAntonymsTest.word_pairs.pop();

      if(!SynonymsAndAntonymsTest.current_word_pair) {
        SynonymsAndAntonymsTest.finish();
        return;
      }
      var word_1 = SynonymsAndAntonymsTest.current_word_pair.word_1;
      var word_2 = SynonymsAndAntonymsTest.current_word_pair.word_2;

      var div;
      if($("#word_pair_container")[0]) {
        div = $("#word_pair_container")
      } else {
        div = $('<div id="word_pair_container"></div>');
        SynonymsAndAntonymsTest.container.append(div);
      }
      div.html('<div id="left_word_container">' + word_1 + '</div> <div id="right_word_container">' + word_2 + '</div><br /><button class="btn btn-primary btn-large" id="submit_synonym">Synonym</button> <button class="btn btn-primary btn-large" id="submit_antonym">Antonym</button>');

      $("#submit_synonym").click(function() {
        SynonymsAndAntonymsTest.submit_synonym();
      });

      $("#submit_antonym").click(function() {
        SynonymsAndAntonymsTest.submit_antonym();
      });
    }

    SynonymsAndAntonymsTest.finish = function() {
      // set elapsed time
      SynonymsAndAntonymsTest.end_time = new Date();
      SynonymsAndAntonymsTest.elapsed_time_in_seconds = (SynonymsAndAntonymsTest.end_time - SynonymsAndAntonymsTest.start_time) / 1000;

      SynonymsAndAntonymsTest.save();
    }

    // synchronous save
    SynonymsAndAntonymsTest.save = function(callback) {
      $('#synonyms_and_antonyms_test_speed').val(SynonymsAndAntonymsTest.total / SynonymsAndAntonymsTest.elapsed_time_in_seconds * 60);
      $('#synonyms_and_antonyms_test_accuracy').val(SynonymsAndAntonymsTest.correct / SynonymsAndAntonymsTest.total * 100);
      $('#new_synonyms_and_antonyms_test').submit();
    }

    // events for <- and ->
    $(document).keydown(function(e){
      if (e.keyCode == $.ui.keyCode.LEFT) { 
        SynonymsAndAntonymsTest.submit_synonym();
      } else if (e.keyCode == $.ui.keyCode.RIGHT) {
        SynonymsAndAntonymsTest.submit_antonym();
      }
      // prevent the scroll
      return false;
    });

  });
