- @languages = Language.all
- @categories = Category.all
- @selected = Content.first
- @js_test = 'ScrambledWordTest'

= render '/contents/content_selection_popup'

This test will measure your reading speed. Click the start button when you are ready and the text will appear below. Click on done when you are finished reading.
%button#start_reading Start
#reading_text
%div
= form_for(@scrambled_word_test) do |f|
  = f.hidden_field :content_id
  = f.hidden_field :wpm

:javascript
  var ScrambledWordTest = new Object({
    text: #{@scrambled_word_test.content.body.to_json}
  });

  $(function() {

    ScrambledWordTest.container = $(".test_container");
    ScrambledWordTest.messages = ['Ready?']; // to be displayed

    $('#start_reading').click(function() {
      ScrambledWordTest.start();
    });

    $("#close_test").click(function() {
      $("#grayout").css("visibility", "hidden");
      $(".test_container").hide();
    });

    ScrambledWordTest.start = function() {
      $("#reading_text_container").html('');
      ScrambledWordTest.container.show();
      $("#grayout").css("visibility", "visible");

      // display all messages
      var timeout = 0;
      for(var i = 0; i < ScrambledWordTest.messages.length; i++) {
        setTimeout(ScrambledWordTest.show_message, timeout);
        timeout += 1000;
      }

      // destroy the message container
      setTimeout(ScrambledWordTest.remove_message_container, timeout);

      // start countdown right after the message container has been removed
      timeout += 10;
      Countdown.callback = ScrambledWordTest.set_start_time_and_show_text;
      setTimeout(Countdown.start, timeout);
    }

    ScrambledWordTest.set_start_time_and_show_text = function() {
      ScrambledWordTest.show_text();
      ScrambledWordTest.start_time = new Date();
    }

    ScrambledWordTest.show_text = function() {
      var text_container = $('#reading_text')
      text_container.show();

      var div;
      if($("#reading_text_container")[0]) {
        div = $("#reading_text_container")
      } else {
        div = $('<div id="reading_text_container"></div>');
        ScrambledWordTest.container.append(div);
      }
      var scrambled_text = ScrambledWordTest.scramble_sentence(ScrambledWordTest.text);
      div.html('<div id="scrollbar1"><div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div><div class="viewport"><div class="overview"><div id="reading_text">' + scrambled_text + '</div></div></div></div>' + '<br /><a href="#" class="button" id="finished_reading">Done</a>');

      $('#scrollbar1').tinyscrollbar();

      $('#finished_reading').click(function() {
        var end_time = new Date();
        var word_count = count_words(ScrambledWordTest.text);
        var elapsed_time_in_seconds = (end_time - ScrambledWordTest.start_time) / 1000;
        var reading_speed = Math.round(word_count * 60 / elapsed_time_in_seconds);
        $('#scrambled_word_test_wpm').val(reading_speed);
        $('#scrambled_word_test_content_id').val(ScrambledWordTest.content_id);
        $('#new_scrambled_word_test').submit();
      });
    }

    ScrambledWordTest.show_message = function() {
      var div = $("#reading_speed_notice_container");
      if (!div[0]) { // checking jQuery object
        div = $('<div id="reading_speed_notice_container" class="message_notice_container"></div>');
        ScrambledWordTest.container.prepend(div);
      }
      var message = ScrambledWordTest.messages.pop();
      div.html(message);
    }

    ScrambledWordTest.remove_message_container = function() {
      var div = $("#reading_speed_notice_container");
      if (div) div.remove();
    }

    ScrambledWordTest.scramble_word = function(word) {
      var letter_array = [];
      for(var i = 0; i < word.length; i++) {
        letter_array.push(word[i]);
      }

      var scrambled = letter_array.splice(0, 1); // first letter fixed
      var last_character = letter_array.splice(letter_array.length - 1, 1);
      var original_letter_array_length = letter_array.length;

      for(var i = 0; i < original_letter_array_length; i++) {
        scrambled += letter_array.splice(this.random(letter_array.length), 1);
      }
      scrambled += last_character;
      return scrambled;
    }

    ScrambledWordTest.random = function(limit) {
      // random between 0 and n - 1
      return Math.floor(Math.random() * limit);
    }

    ScrambledWordTest.scramble_sentence = function(sentence) {
      this.original_sentence = sentence;
      var scrambled = '';
      var words = sentence.split(' ');
      for (var i = 0; i < words.length; i++) {
        var word = words[i];
        scrambled += '<span title="' + word.replace('"', '') + '">' + this.scramble_word(words[i]) + '</span>';
        if(i < words.length - 1) scrambled += " ";
      }
      return scrambled;
    }

  });
