!!!
%html
  %head
    %title SpeedReading
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Speed Reader
    #user_header= user_header
    - if current_user
      #grayout
      #sidebar
        - if current_user && current_user.admin?
          Admin:
          %ul
            %li= link_to 'Users', users_path
            %li= link_to 'Contents', contents_path
            %li= link_to 'Word Pairs', word_pairs_path
            %li= link_to 'Categories', categories_path
            %li= link_to 'Languages', languages_path
        Exercises:
        %ul
          %li= link_to 'Test Reading Speed', new_reading_speed_test_path
          %li= link_to 'Flash Reading', new_flash_reading_test_path
          %li= link_to 'Flashing Numbers', new_flashing_numbers_test_path
          %li= link_to 'Flashing Dots', new_flashing_dots_test_path
          %li= link_to 'Scrambled Words', new_scrambled_word_test_path
          %li= link_to 'Word Search', new_word_search_test_path
          %li= link_to 'Synonyms/Antonyms', new_synonyms_and_antonyms_test_path
      #content
        %p.notice= notice
        %p.alert= alert
        .exercise_description
          = yield
      #test_container.test_container
        = link_to(image_tag('close.jpg', :alt => 'close', :id => 'close_test', :class => 'x_button close_popup'), '#')
        #countdown
    - else
      #centered_box
        = yield
    #footer
      Developed by
      = link_to 'Milan Dobrota', 'http://www.milandobrota.com'
