!!!
%html
  %head
    %title SpeedReading
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #user_header= user_header
      %h1 Speed Reader
    - if current_user
      #grayout
      #sidebar.span2
        %br
        - if current_user && current_user.admin?
          Admin:
          %ul.nav.nav-pills.nav-stacked
            = nav_link 'Users', :controller => 'users', :action => 'index'
            = nav_link 'Contents', :controller => 'contents', :action => 'index'
            = nav_link 'Word Pairs', :controller => 'word_pairs', :action => 'index'
            = nav_link 'Categories', :controller => 'categories', :action => 'index'
            = nav_link 'Languages', :controller => 'languages', :action => 'index'
        Exercises:
        %ul.nav.nav-pills.nav-stacked
          = nav_link 'Test Reading Speed', :controller => 'reading_speed_tests', :action => 'new'
          = nav_link 'Flash Reading', :controller => 'flash_reading_tests', :action => 'new'
          = nav_link 'Flashing Numbers', :controller => 'flashing_numbers_tests', :action => 'new'
          = nav_link 'Flashing Dots', :controller => 'flashing_dots_tests', :action => 'new'
          = nav_link 'Scrambled Words', :controller => 'scrambled_word_tests', :action => 'new'
          = nav_link 'Word Search', :controller => 'word_search_tests', :action => 'new'
          = nav_link 'Synonyms/Antonyms', :controller => 'synonyms_and_antonyms_tests', :action => 'new'
      #content.span10
        -if notice
          %div.notice.alert.alert-info= notice
        -if alert
          %div.alert.alert-error= alert
        .exercise_description
          = yield
      #test_container.test_container
        = link_to(image_tag('close.jpg', :alt => 'close', :id => 'close_test', :class => 'x_button close_popup'), '#')
        #countdown
    - else
      #centered_box
        = yield
    #footer
      Developed by
      = link_to 'Milan Dobrota', 'http://www.milandobrota.com'
